@font-face {
  font-family: 'RoundedMplus';
  src: url('/fonts/rounded-mplus-1c-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RoundedMplus-Regular';
  src: url('/fonts/rounded-mplus-1c-regular.ttf') format('truetype');
}

.function2{
    padding-top: 20px;
    padding-left: 0px;
    /* max-width: 95%; */
    /* margin: 0 30px 0 30px; */
    display: flex;
}

.function_r2{
    padding-top: 20px;
    display: flex;
    justify-content:flex-end;
    /* margin: 0 30px 0 30px; */
}

.img_left {
    margin-top: 50px;
    margin-left: 100px;
    width: 250px;
    height: 250px;
}

.img_right {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    margin-right: 80px;
}

.index_title{
    font-family: 'RoundedMplus', sans-serif;
    margin-left: 30px;
    font-size: 3rem;
}

.index_title_right{
    font-family: 'RoundedMplus', sans-serif;
    font-size: 3rem;
    margin-right: 30px;
    margin-left: auto;
    text-align: right;
}

.index_p{
    margin-left: 50px;
    font-size: 28px;
    font-family: 'RoundedMplus-Regular', sans-serif;
}

.index_p_right{
    margin-right: 30px;
    font-size: 28px;
    font-family: 'RoundedMplus-Regular', sans-serif;
}

p {
    display: block;
    margin-block-start: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.function {
    padding-bottom: 100px;
}

.job_button {
    margin: auto;
    width: 400px;
    height: 80px;
    background-color: #0056BB;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 80px;
}

.company_button {
    margin: auto;
    width: 400px;
    height: 80px;
    background-color: #f03b2b;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
    margin-top: 80px;
}

.Home_button {
    display: flex;
    gap: 80px;
    justify-content: center;
}