.header{
    position: sticky;
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 100px;
    /* background-color: #6495ED; */
    align-items: center;
    border-bottom: solid 7px #0056BB;
    background-color: #fff;
    z-index: 10000;
}

.icon{
  max-height: 100%;
  margin-left: 100px;
}

.bottom_boder{
    border-bottom:solid 4px #99c8ff;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
/* .bottom_boder{
    border-bottom:solid 4px #99c8ff;
    width: 70%;
    margin: auto;
    border-radius: 10px;
} */

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


